<main id="top" class="" style="margin-top:100px;">
  <section id="firstview" style="background:lightblue; padding:40px 0;">
    <div class="container">
      <div class="">
        <p>アイキャッチ</p>
        
      </div>
    </div>
  </section>

  <section id="search" style="">
    <h2 class="text-left ml-4" style="">・条件を絞り込む</h2>
    <div class="search-content">
      <p class="bg-lightgray rounded">企業名・コーチ名・学校名・地域など</p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          詳しい検索条件 🔻
        </a>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="container">
        <ul class="row" style="list-style:none;">
          <li class="carender-border">24日(土)</li>
          <li class="carender-border">25日(日)</li>
          <li class="carender-border">26日(月)</li>
          <li class="carender-border">27日(火)</li>
          <li class="carender-border">28日(水)</li>
          <li class="carender-border">29日(木)</li>
          <li class="carender-border">30日(金)</li>
          <li class="carender-border">カレンダー</li>
        </ul>
        <div class="row align-items-center">
          <p class="align-middle" style="margin:auto 1%;">・時間帯</p>
          <div class="dropdown">
            <!-- 切替ボタンの設定 -->
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ドロップダウンボタン
            </button>
            <!-- ドロップメニューの設定 -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="#">メニュー1</a>
              <a class="dropdown-item" href="#">メニュー2</a>
              <a class="dropdown-item" href="#">メニュー3</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">その他リンク</a>
            </div><!-- /.dropdown-menu -->
          </div><!-- /.dropdown -->
          <h2 style="margin:auto 1%;">-</h2>
          <div class="dropdown">
            <!-- 切替ボタンの設定 -->
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ドロップダウンボタン2
            </button>
            <!-- ドロップメニューの設定 -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" href="#">メニュー11</a>
              <a class="dropdown-item" href="#">メニュー22</a>
              <a class="dropdown-item" href="#">メニュー33</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">その他リンク3</a>
            </div><!-- /.dropdown-menu -->
          </div><!-- /.dropdown -->
        </div>

        <div class="card border-secondary mb-3" style="max-width: 100%; margin-top:40px;">
          <div class="card-header">icon 業種
          </div>
          <div class="card-body text-secondary">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">食品・飲料</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">繊維</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">アパレル</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">化粧品・医薬</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">電機・自動車</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">化学・石油</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">住宅・建設</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">不動産</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">旅行</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">ホテル・レジャー</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">流通・小売</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">サービス</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">商社</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">人材・教育</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">コンサルティング</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">広告</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">マスコミ</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">出版・印刷</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">IT</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">ゲーム</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">ソフトウェア</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">銀行・信金</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">クレジットカード</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">証券</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">保険</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">インフラ</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">鉄道・航空</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">運輸・物流</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">農林・水産</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">官公庁</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">アパレル</label>
            </div>
          </div>
        </div>

        <div class="card border-secondary mb-3" style="max-width: 100%; margin-top:40px;">
          <div class="card-header">icon 職種
          </div>
          <div class="card-body text-secondary">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label">営業</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">企画</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">マーケティング</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">人事</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">宣伝・広報</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">総務</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">経理・財務</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">エンジニア</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">デザイナー</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label">コンサルタント</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">総合職</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">一般職</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">技術・研究職</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">教師・講師</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">公務員</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">社長</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">役員</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label">内定者</label>
            </div>

          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">リセット</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">検索</button>
        </div>
        <hr style="">
        <div class="" style="">
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2 w-50" type="text" placeholder="キーワードから検索する" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">検索</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="index" style="padding:40px 0;">
    <div class="container">
      <div class="row">
        <div class="" style="width:70%;">
          <div class="">
            <h2 class="ml-4" style="">・コーチ一覧</h2>
            <div class="text-center" style="">
              <ul class="nav nav-tabs">
                <li class="nav-item col-4">
                  <a href="#tab1" class="nav-link" data-toggle="tab"><button class="btn btn-outline-primary rounded-pill" type="submit">新着</button></a>
                </li>
                <li class="nav-item col-4">
                  <a href="#tab2" class="nav-link" data-toggle="tab"><button class="btn btn-outline-primary rounded-pill" type="submit">おすすめ</button></a>
                </li>
                <li class="nav-item col-4">
                  <a href="#tab3" class="nav-link" data-toggle="tab"><button class="btn btn-outline-primary rounded-pill" type="submit">人気</button></a>
                </li>
              </ul>
            </div>
          </div>
          <!--タブのコンテンツ部分-->
          <div class="tab-content">
            <div id="tab1" class="tab-pane active">
              <div class="row" style="margin-top:40px;">
                <% @coaches.each do |coach| %>
                <div class="coach-profile w-30">
                  <img src="/default.jpg" alt="" class="user-icon">
                  <p><%= coach.name %>
                  <% if Favorite.find_by(user_id: current_user, coach_id: coach.id) %>
                    <%= link_to coach_c_favorites_path(coach_id: coach.id), coach_id: coach.id, method: "DELETE" do %>
                      ️️❤️
                    <% end %>
                  <% elsif !Favorite.find_by(user_id: current_user, coach_id: coach.id) %>
                    <%= link_to coach_favorites_path(coach_id: coach.id), coach_id: coach.id, method: "POST" do %>
                      ♡
                    <% end %>
                  <% end %></p>

                  <p class="mb-0" style=""><%= coach.company %></p>

                  <p>面談回数： 48回</p>

                  <p>#神戸大学</p>
                  <p>#エンジニア</p>

                  <%= coach.coaching_fee %>
                  
                  <a href="" class="btn btn-primary">詳細</a>
                
                </div>
                <% end %>

              </div>
            </div>
            <div id="tab2" class="tab-pane">
              <div class="row" style="margin-top:40px;">
                <div class="card border-secondary mb-3" style="max-width: 30%; margin:1%;">
                  <div class="card-header">No.1
                  </div>
                  <div class="card-body text-secondary row">
                    <div class="col-sm-6">
                      <img src="/mensa-logo.jpeg" class="rounded-circle w-100">
                    </div>
                    <div class="col-sm-6">
                      <p>名前：<br>重神咲也</p>
                      <p>会社名：<br>SENPUKI</p>
                    </div>
                    <div class="col-12 text-center">
                      <p>⭐️⭐️⭐️⭐️⭐️ 5.0</p>
                      <p>面談回数：14回</p>
                      <p>ITコンサル</p>
                      <p>マーケティング</p>
                      <p>神戸大学</p>
                    </div>
                    <div class="col-12 row" style="">
                      <p style="width:95%;"></p>
                      <a href="#" class="" style="width:5%;">❤️</a>
                    </div>
                  </div>
                </div>
                <div class="card border-secondary mb-3" style="max-width: 30%; margin:1%;">
                  <div class="card-header">No.2
                  </div>
                  <div class="card-body text-secondary row">
                    <div class="col-sm-6">
                      <img src="/mensa-logo.jpeg" class="rounded-circle w-100">
                    </div>
                    <div class="col-sm-6">
                      <p>名前：<br>重神咲也</p>
                      <p>会社名：<br>SENPUKI</p>
                    </div>
                    <div class="col-12 text-center">
                      <p>⭐️⭐️⭐️⭐️⭐️ 5.0</p>
                      <p>面談回数：14回</p>
                      <p>ITコンサル</p>
                      <p>マーケティング</p>
                      <p>神戸大学</p>
                    </div>
                    <div class="col-12 row" style="">
                      <p style="width:95%;"></p>
                      <a href="#" class="" style="width:5%;">❤️</a>
                    </div>
                  </div>
                </div>
                <div class="card border-secondary mb-3" style="max-width: 30%; margin:1%;">
                  <div class="card-header">No.3
                  </div>
                  <div class="card-body text-secondary row">
                    <div class="col-sm-6">
                      <img src="/mensa-logo.jpeg" class="rounded-circle w-100">
                    </div>
                    <div class="col-sm-6">
                      <p>名前：<br>重神咲也</p>
                      <p>会社名：<br>SENPUKI</p>
                    </div>
                    <div class="col-12 text-center">
                      <p>⭐️⭐️⭐️⭐️⭐️ 5.0</p>
                      <p>面談回数：14回</p>
                      <p>ITコンサル</p>
                      <p>マーケティング</p>
                      <p>神戸大学</p>
                    </div>
                    <div class="col-12 row" style="">
                      <p style="width:95%;"></p>
                      <a href="#" class="" style="width:5%;">❤️</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-outline-primary my-5" style="">more</button>
        </div>

        <div class="" style="width:30%;">
          <h2>・ランキング一覧</h2>
          <div class="card border-secondary mb-3" style="margin-top:55px;">
            <div class="card-header" style="padding:0 auto;">
              <ul class="row text-center" style="list-style:none; padding-left:0px; margin-bottom:0px;">
                <li class="col-4" style="border-right:1px solid gray;">週間</li>
                <li class="col-4" style="border-right:1px solid gray;">月間</li>
                <li class="col-4">総合</li>
              </ul>
            </div>
            <div class="card-body text-secondary" style="padding:0px;">
              <ul class="row text-center" style="list-style:none; padding-left:0px;margin:0 !important;">
                <li class="row border" style="margin:0 !important;">
                  <div class="bg-warning" style="padding:3% 0; width:5%;"><span style="">1</span></div>
                  <div class="row" style="padding:3% 0; width:95%; margin:0 !important;">
                    <div class="col-sm-4">
                      <img src="/default.jpg" class="rounded-circle w-100">
                    </div>
                    <div class="col-sm-8 text-left">
                      <p>名前：重神咲也</p>
                      <p>会社名：SENPUKI</p>
                    </div>
                    <div class="col-12 text-center">
                      <p style="font-size:90%; margin-top:3%;">⭐️⭐️⭐️⭐️⭐️ 5.0　面談回数：14回</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body text-secondary" style="padding:0px;">
              <ul class="row text-center" style="list-style:none; padding-left:0px;margin:0 !important;">
                <li class="row border" style="margin:0 !important;">
                  <div class="bg-primary" style="padding:3% 0; width:5%;"><span style="">2</span></div>
                  <div class="row" style="padding:3% 0; width:95%; margin:0 !important;">
                    <div class="col-sm-4">
                      <img src="/default.jpg" class="rounded-circle w-100">
                    </div>
                    <div class="col-sm-8 text-left">
                      <p>名前：重神咲也</p>
                      <p>会社名：SENPUKI</p>
                    </div>
                    <div class="col-12 text-center">
                      <p style="font-size:90%; margin-top:3%;">⭐️⭐️⭐️⭐️⭐️ 5.0　面談回数：14回</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body text-secondary" style="padding:0px;">
              <ul class="row text-center" style="list-style:none; padding-left:0px;margin:0 !important;">
                <li class="row border" style="margin:0 !important;">
                  <div class="bg-warning" style="padding:3% 0; width:5%;"><span style="">3</span></div>
                  <div class="row" style="padding:3% 0; width:95%; margin:0 !important;">
                    <div class="col-sm-4">
                      <img src="/default.jpg" class="rounded-circle w-100">
                    </div>
                    <div class="col-sm-8 text-left">
                      <p>名前：重神咲也</p>
                      <p>会社名：SENPUKI</p>
                    </div>
                    <div class="col-12 text-center">
                      <p style="font-size:90%; margin-top:3%;">⭐️⭐️⭐️⭐️⭐️ 5.0　面談回数：14回</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>