<header style="margin-bottom:80px;">
  <nav class="navbar nav-tabs navbar-expand-md navbar-dark fixed-top bg-dark">
    <%= link_to "PAISEN", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto w-100" style="float:right;">


      <li class="nav-item">
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
      <li class="nav-item m-3">
        🔔
      </li>
      <li class="nav-item m-3">
        📧
      </li>
      <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ユーザー名</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">コーチング予約管理</a>
            <a class="dropdown-item" href="#">コーチング履歴</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">設定</a>
            <a class="dropdown-item" href="#">ログアウト</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>



<div class="for_develop" style="border-bottom:3px double gray;">
  <ul class="row">
          <% unless logged_in? || coach_logged_in? %>
          <li class="nav-item">
            <%= link_to "登録（学生）", new_user_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "登録（コーチ）", new_coach_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン（学生）", login_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン（コーチ）", coach_login_path, class:"nav-link" %>
          </li>
        <% end %>

        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", user_show_path(user_id: current_user), class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "お気に入りコーチ", favorite_coach_path(user_id: current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path, method: "DELETE", class:"nav-link" %>
          </li>
        <% end %>

        <% if coach_logged_in? %>
          <li class="nav-item">
            <%= link_to "cマイページ", coach_show_path(coach_id: current_coach), class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "cログアウト", coach_logout_path, method: "DELETE", class:"nav-link" %>
          </li>
        <% end %>
  </ul>

        <a href="/tests/test">テスト</a>
        <a href="/tests/loginPage">ログイン</a>
        <a href="/tests/questionsPage">Q&A</a>
        <a href="/tests/reservationManagementPage">予約管理</a>
        <a href="/tests/contactUsPage">問い合わせ</a>
        <a href="/tests/topDemoPage">トップ</a>
        <a href="/tests/chatroom">チャット</a>
</div>
