<header class="mb-4">
  <div class="row m-4 mt-0">
    <div class="col-6"></div>
    <% unless logged_in? %>
      <div class="col-4 text-right" style="">
        <%= link_to "登録", "#", class:"btn btn-sm btn-primary pt-1 pb-1" %>
        <%= link_to "ログイン", "#", class:"btn btn-sm btn-secondary pt-1 pb-1 mr-4" %>
        <%= link_to "ログアウト", "#" %>
      </div>
    <% end %>

    <% if logged_in? %>
      <div class="col-4 text-right">
      ログインユーザー(開発用):
      <%= link_to "マイページ", "#" %>
      <%= link_to "ログアウト", "#" %>
      </div>
    <% end %>
  </div>
</header>

<header>
  <nav class="navbar nav-tabs navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">PAISEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">コーチOB/OG <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ES添削</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">チャット相談</a>
        </li>
        <% unless logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ログイン</a>
          </li>
        <% end %>

        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">マイページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ログアウト</a>
          </li>
        <% end %>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
